<app-navbar></app-navbar>
<div class="main">
    <div class="header">
        <h1>Notifications</h1>
    </div>
    <div id="main">
        @if (notifications.length > 0) {
            @for (notification of notifications; track $index) {
                <!-- <div class="message">
                    <h3>{{notification.user}}</h3>
                    <p>{{notification.message}}</p>
                </div> -->
                <mat-card appearance="outlined" class="card">
                    <mat-card-header>
                        <mat-card-title>{{notification.user}}</mat-card-title>
                        <mat-card-subtitle>{{notification.message}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="end">
                        <button matIconButton (click)="dismiss($index)"><mat-icon>close</mat-icon></button>
                    </mat-card-actions>
                </mat-card>
            }
        }

        @else {
            No new Notifications
        }
    </div>
</div>