*{
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;

    gap: 40px;
}
input {
    width: 200px;
}
.inputs {
    display: flex;
    gap: 20px;
}
input[type='submit']{
    padding:10px 20px;
}
